#btn {
    background-color: silver;
    color: black;
    font-weight: bold;
}

#btn-pay {
    display: block;
    height: 20px;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: silver;
    text-align: center;
    color: black;

}

#form-style {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    padding-left: 10px;
}

.main-body,
.modal-body {
    background-image: url("../img/stars.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.state-list {
    color: black;
}

.modal-content {
    color: black;
    text-align: left;
}

@media only screen and (max-width: 780px){
    #form-style {
        width: 100%;
    }
    .navbar-brand {
        display: none;
    }
}
