#btn {
    background-color: silver;
    color: black;
    font-weight: bold;
}

#form-style {
    width: 50%;
    margin: 0 auto;
    background-color: darkslategrey;
    padding: 20px 0;
}

.main-body {
    background-image: url("../img/stars.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.state-list {
    color: black;
}

@media only screen and (max-width: 780px){
    #form-style {
        width: 100%;
    }
    .navbar-brand {
        display: none;
    }
}
