* {
    box-sizing: border-box;
}

/* ================================= 
  HEADER & MAIN NAV
==================================== */

/* HAMBURGER NAV */
#hamnav {
    width: 100%;
    background: #000;
    position: sticky;
    top: 0;
}

#hamnav label, 
#hamburger {
    display: none;
}

#hamitems {
    display: flex;
}

#hamitems a {
    width: 20%;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.item,
.item-end {
    flex: 0 1 auto;
}

.logo-img {
    height: 70px;
    width: auto;
    position: center;
}

.main-nav a {
    text-align: center;
    display: block;
    color: whitesmoke;
}

/* ================================= 
  BASE ELEMENT STYLES
==================================== */

header {
    background-color: darkblue;
}

body {
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}

ul {
    list-style: none;
}

li {
    background: none;
    font-weight: bold;
    font-size: 12px;
}

h2,
h3 {
    text-align: center;
}

a:link {
    text-decoration: none;
}

/* ================================= 
  BASE LAYOUT STYLES
==================================== */

.primary-content,
.cancel-container,
.destinations,
.starship {
    border-top: 5px solid darkblue;
}

/* CANCEL/CREDITS/GURANTEE CONTAINER */
.cancel-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: whitesmoke;
    color: black;
}

.cancel-item,
.credit-item,
.money-item {
    flex-grow: 1;
    align-self: center;
    padding: 5px;
    text-align: center;
}

/* IMAGES */
.cancel-img,
.money-img,
.credit-img {
    height: 50px;
    width: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----BANNER-----*/
.banner-text {
    position: absolute;
    top: 50%;
    right: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    vertical-align: baseline;
}

.name {
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
}

.banner-img {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media screen and (min-width: 768px){
    .cancel-container{
        flex-direction: row;
        justify-content: center;
    }

    .cancel-item,
    .credit-item,
    .money-item {
        width: 33%;
        height: auto;
    }
}

@media screen and (max-width: 768px){
    #hamnav label {
        display: inline-block;
        color: white;
        background: #a02620;
        font-style: normal;
        padding: 10px;
    }

    #hamitems a {
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    #hamitems {
        display: none;
    }

    #hamnav input:checked ~ #hamitems {
        display: block;
    }
}

