* {
    box-sizing: border-box;
}

/* ================================= 
  HEADER & MAIN NAV
==================================== */

/* HAMBURGER NAV */
#hamnav {
    width: 100%;
    background: #000;
    position: sticky;
    top: 0;
}

#hamnav label, 
#hamburger {
    display: none;
}

#hamitems {
    display: flex;
}

#hamitems a {
    width: 20%;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

/* ================================= 
  BASE ELEMENT STYLES
==================================== */

header {
    background-color: darkblue;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}

ul {
    list-style: none;
}

li {
    background: none;
    font-weight: bold;
    font-size: 12px;
}

h2,
h3 {
    text-align: center;
}

a:link {
    text-decoration: none;
}

/* ================================= 
  BASE LAYOUT STYLES
==================================== */

#body-wrapper {
    margin: 0 auto;
    width: 800px;
}

.primary-content,
.cancel-container,
.dest-container,
.starship {
    border-top: 5px solid darkblue;
}

/* CANCEL/CREDITS/FINANCE CONTAINER */
.cancel-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: whitesmoke;
    color: black;
}

.cancel-item,
.credit-item,
.money-item {
    flex-grow: 1;
    align-self: center;
    padding: 5px;
    text-align: center;
}

/* DESTINATIONS CONTAINER */

.dest-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mars,
.jupiter,
.saturn {
    /* flex-grow: 1; */
    height: 100%;
    width: 33.33%;  
}

/* IMAGES */

.main-body {
    background-image: url("../photos/stars.png");
    height: 100%;
    background-position: center;
    background-size: cover;
}

.cancel-img,
.money-img,
.credit-img {
    height: 50px;
    width: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .mars-img,
.jupiter-img,
.saturn-img {
    width: ;
} */

/*-----BANNER-----*/

.name {
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
}

.banner-img {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
}

.dest-container,
.primary-content,
.starship {
    background: black;
}

.main-footer {
    font-size: 10px;
    text-align: center;
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media screen and (min-width: 768px){
    .cancel-container,
    .dest-container {
        flex-direction: row;
    }

    .cancel-item,
    .credit-item,
    .money-item {
        width: 33%;
        height: auto;
    }

    /* body {
        margin: 0 25%;
    } */
}

@media screen and (max-width: 768px){
    #hamnav label {
        display: inline-block;
        color: white;
        background: #726f6f;
        font-style: normal;
        padding: 10px;
    }

    #hamitems a {
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    #hamitems {
        display: none;
    }

    #hamnav input:checked ~ #hamitems {
        display: block;
    }
    
}

