* {
    box-sizing: border-box;
}

/* ================================= 
  HEADER & MAIN NAV
==================================== */

.main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 50px;
    width: 100%;
}

/* ================================= 
  BASE ELEMENT STYLES
==================================== */

body {
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}

ul {
    list-style: none;
}

li {
    background: none;
    font-weight: bold;
    font-size: 12px;
    
}

a:link {
    text-decoration: none;
}

/* ================================= 
  BASE LAYOUT STYLES
==================================== */

.main-nav a {
    text-align: center;
    display: block;
    color: whitesmoke;
}

/*-----BANNER-----*/
.banner-text {
    position: absolute;
    top: 50%;
    right: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    vertical-align: baseline;
}

.name {
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
}

.banner-img {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
}

/* ================================= 
  MEDIA QUERIES
==================================== */